@import '../../vendor/filament/forms/dist/module.esm.css';
@import '../../vendor/awcodes/filament-tiptap-editor/resources/css/plugin.css';
 
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    font-family: 'Open Sans', sans-serif;
}
.font-heading{
    
    font-family: 'Montserrat', sans-serif;
}


.btn-primary{
    @apply inline-flex items-center px-12 py-3 text-xs font-semibold tracking-widest text-white uppercase transition duration-150 ease-in-out border border-transparent rounded-md bg-primary-blue dark:bg-gray-200 dark:text-gray-800 hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800;
}

.btn-primary-fixer{
    @apply inline-flex items-center px-12 py-3 text-xs font-semibold tracking-widest text-white uppercase transition duration-150 ease-in-out border border-transparent rounded-md hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 ;
    background-color: #002664;
}


.btn-primary-red{
    @apply inline-flex items-center px-12 py-3 text-xs font-semibold tracking-widest text-white uppercase transition duration-150 ease-in-out border border-transparent rounded-md bg-primary-red dark:bg-gray-200 dark:text-gray-800 hover:bg-red-700 dark:hover:bg-white focus:bg-red-700 dark:focus:bg-white active:bg-red-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800;
}

.btn-danger{
    @apply inline-flex items-center px-12 py-3 text-xs font-semibold tracking-widest text-white uppercase transition duration-150 ease-in-out bg-red-700 border border-transparent rounded-md dark:bg-gray-200 dark:text-gray-800 hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800;
}


.filament-tables-empty-state svg{
    @apply text-white;
}

.sub-menu{
    @apply block py-2 pr-2;
}

.filament-forms-component-container * :disabled{
    @apply bg-gray-200;
}

.filament-forms-toggle-component:disabled{
    @apply opacity-0 bg-primary-200;
}



.choices.is-disabled .choices__inner{
    @apply bg-gray-200;
}

.filament-table-repeater-column{
    /* @apply border-0 border-none; */
}

input::-ms-reveal,
input::-ms-clear {
display: none;
}

/* sup{
    display: none;
} */

.color-red-800{
    color: #800;;
}

.filament-forms-field-wrapper-label span:has(> sup) {
    color: #800 !important;
    @apply font-bold;
}

.filament-tables-link-action{
    @apply text-link hover:text-link !important;
}

.filament-tables-header-cell span{
    @apply font-bold;
}


.filament-forms-checkbox-list-component-option-label input:disabled{
    opacity: 100;
    background-color: #fff;
}

.filament-forms-checkbox-list-component-option-label input:checked, [type=checkbox]:checked, [type='radio']:checked {
    opacity: 100 !important;
    @apply bg-primary-red;
}


.filament-tables-link-action{
    @apply text-link hover:text-link; 
}

.filament-tables-header-cell button{
    @apply justify-start;
}


.filament-forms-field-wrapper-label span{
    @apply font-bold;
}

#table-parent-matrix th{
    @apply font-bold color-red-800;
}

#table-parent-matrix th::before{
    content: '*';
    @apply inline-block;
}

#table-parent-matrix th:nth-child(5):before, #table-parent-matrix th:nth-child(1):before {
    content: '';
    display: none !important;
}

#table-parent-matrix th:nth-child(5), #table-parent-matrix th:nth-child(1) {
    @apply text-gray-700;
}

#table-sibling-matrix th{
    @apply font-bold color-red-800;
}

#table-sibling-matrix th:nth-child(1){
    @apply text-gray-700;
}

#table-sibling-matrix th::before{
    content: '*';
    @apply inline-block;
}

#table-sibling-matrix th:nth-child(5):before, #table-sibling-matrix th:nth-child(1):before {
    content: '';
    display: none !important;
}

.filament-forms-field-wrapper-label span:has(> sup){
    @apply relative pl-3;
}

.filament-forms-field-wrapper-label .whitespace-nowrap {
    @apply absolute left-0 z-10 top-2;
}

.input-toggle{
    opacity: 1 !important;
}

/* .filament-forms-toggle-component:disabled{
    @apply opacity-100 bg-gray-50;
} */

.filament-tables-link-action:disabled{
    @apply text-gray-500 cursor-not-allowed !important;
}

.hide-checkbox-label + span {
    display: none;
  }

#table-parent-matrix th:last-child:before{
    content: 'hello';
}

.flex.items-center:has(.hide-checkbox-label){
    @apply justify-center;
}

#table-parent-matrix sup, #table-sibling-matrix sup{
    display: none !important;
}